#boost is unnecessary to store 
lib/boost/
!lib/boost/.placeholder

#visual studio trash 
project/.vs
.*CMakeSettings.json

#build folder
build/*

#QtCretator project files 
*.user
*.autosave
*.diff
compile_commands.json

